*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar{
  background-color: #282c34;
  padding: 20px;
}

.navbar h2{
  color: white;
}

.nav-links{
  margin: auto;
  text-decoration: none;
  padding-left: 12px;
  position: relative;
}

.slider{
  max-width: 700px;
  max-height: 135px;
  padding-top: 10px;
  margin: auto;
  background-color: aqua;
  text-align: center;
  position: relative;
}

.slider img{
  width: 72px;
  margin-left: 8px;
}

.img-container img{
  width: 500px;

}

.clicked{
  border: 5px solid black;
}

.footer{
  height: 80px;
  background-color: #282c34;
  position: relative;
}

.footer h3{
  color: white;
  padding-top: 20PX;
}

.footer p{
  color: white;
}

.about{
  margin: auto;
  text-align: center;
  width: 500px;
  padding-bottom: 20px;
}

.about h1{
  padding: 20px;
}

.about p{
  padding-bottom: 15px;
}


.notFound{
  width: 500px;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}